<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A demo site featuring an ajax-based stock widget that uses Python and Flask as a backend microservice API">
    <meta name="author" content="Shane Larson">

    <title>Gold Rate Prediction ana Analysis</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
  </head>

  <body class="text-center" style="background-color:black" >
  <font color="white" style="font-family:CALIBRI">
      <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
          <header class="masthead mb-auto">
            <div class="inner" align="left">
              <h2 align="center"  class="masthead-brand">Gold Price Prediction and Analysis</h2><br>
             <form action="{{ url_for('predict')}}"method="post" ><CENTER>
			 
			  <div class="container"  align="left" >
				<label align="left" for="uname" Style="background-color:#97b884;padding:3px 6px;display: block;float:left;"><b>Live Rate :&nbsp;</b></label>&nbsp;<b> {{ cur_rate }} &nbsp; {{ dt_inr }}<b>
				<br>
				<br>
				<label for="uname" Style="background-color:#97b884;padding:3px 20px;display: block;float:left;" ><b>Date :&nbsp;</b></label>
				<input type="text" placeholder="Enter Date in yyyy-mm-dd" name="uname" required>&nbsp;&nbsp;
				<br><br>
				

				<button type="submit"  Style="background-color:#85bb65;COLOR:white">Predict</button>
				
				<br><br><h5>
				{{ prediction_text }}</h5>
				<br><br>
				
			  </div>

			  
			</CENTER></form> 
            </div>
          </header>
		    

          <div id="widgetContent">
            <main role="main" class="inner">
              <h3 class="cover-heading">Gold Price Highchart</h3>
             
              <div class="input-group mb-3">
                <input id="symbol" type="text" class="form-control" placeholder="Enter Stock Symbol to compare" aria-label="Stock, ETF or Mutual Fund" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" Style="background-color:#85bb65;COLOR:white" onclick="site.SubmitForm();">Search</button>
                </div>
              </div>
              <div id="chart_container"></div>
            </main>
          </div>

        </div>
    
        </font>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>

    <script src="{{ url_for('static',    filename='scripts/site.js') }}"></script>
    
  

  </body>
</html>
